.App {
    font-family: sans-serif;
    text-align: left;
}
#txt {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #333;
}

.user-center {
    height: 31px;
    padding: 0 10px;
    line-height: 31px;
    font-size: 16px;
    margin: 16px 0;
    float: right;
    color: #fff;
}
.table-filter-wrapper button {
    margin-right: 10px;
}
.table-filter-wrapper button:last-child {
    margin-right: 0;
}

/* login */
.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url(./login-bg.jpeg);
    background-color: rgba(204, 204, 204, .5);
}
.login-page .login-form {
    width: 500px;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    background-color: rgba(240, 242, 243, .9);
    text-align: center;
}
.login-page .login-form button {
    width: 100px;
}